/* FOOTER */
.seb-footer
{
    /*width:100%;*/
    margin: 0 0;
    padding: 0px 0px 0px 0px;
    /* background-color: #eee;
    background-color: #888;
    background-color: #bbb; */
    /* background-color: #484848; */
    background-color: #181818;
    min-height: 200px;
    font-size:16px;
    color: #eee;
    color: inherit;
    color:#efefef;
}

.seb-footer a
{
    color: #222;
    color: #eee;
    color: inherit;
}

.seb-footer ul {
    list-style-type: none;
    padding-left: 0px;
}

.seb-footer-grid{
    display: grid;
    grid-gap: 0;
    margin: 0 auto;
    /*width: 100%;*/
    grid-gap: 0;
    grid-template-rows: auto  auto;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "support terms company follow"
                            "copy copy copy copy";
    /*border: 1px solid red;*/
    justify-content: center;
    max-width: 1140px;
    /* color:#222; */
}

.seb-footer-caption
{ 
    font-size: 22px;
    padding: 0px 0px 10px 0px;
    margin: 0 auto;
    /*text-transform: capitalize;*/
    
}

.seb-footer-support{
    grid-area: "support";
    padding: 15px 10px 10px 10px;
    /*border: 1px solid yellow;*/
}

.seb-footer-terms{
    grid-area: "terms";
    padding: 15px 10px 10px 10px;
}

.seb-footer-company{
    grid-area: "company";
    padding: 15px 10px 10px 10px;
}

.seb-footer-follow{
    grid-area: "follow";
    padding: 15px 10px 10px 10px;
}

.seb-footer-social{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.seb-footer-social  img{
    width: 2rem;
    height: 2rem;
}

.seb-footer-copy{
    grid-area: "copy";
    padding: 10px 10px 10px 10px;
    grid-column: 1 / 5;
}


@media only screen and (max-width: 767px) {
  
    .seb-footer-grid{
        grid-template-rows: auto  auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: "support" "terms" "company" "follow" "copy";
    }

    .seb-footer-copy{
        grid-area: "copy";
        padding: 10px 10px 10px 10px;
        grid-column: 1 / 2;
    }
 
}

/* END FOOTER */